* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    min-height: 100vh;
    background-image: url(images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container {
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 0px 0px 5px #777;
    width: 100%;
}

.container h1 {
    font-size: 150px;
}

.container h3 {
    font-size: 60px;
}

.container h1, 
h3 {
    font-weight: normal;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    text-shadow: 0px 0px 5px #777;
    
    height: 100px;
    margin-bottom: 10px;
}

footer .frase {
    margin: 20px;
}

footer .autor {
    overflow: hidden;
    height: 0;
    transition: all ease .2s;
}

footer .frase:hover .autor{
    height: 20px;
}